body {
    /* background-image: url("../images/wallpaper-images/so-white.png"); */
    background-color: rgb(255, 255, 255);
   }

img {
    border-radius: 1%;
    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    filter: brightness(110%);
}

.ggFont {
    font-family: 'Numans', sans-serif;
}

nav {
    background-color: white;
}

.html {
    color: rgb(247, 241, 241);
    font-family: 'DM Mono', monospace;
    font-size: 32px;
}
